[submodule "Library-Management-Project-Service-Book"]
	path = book-service
	url = https://github.com/DilsaraThiranjaya/Library-Management-Project-Service-Book.git
[submodule "Library-Management-Project-Service-Member"]
	path = member-service
	url = https://github.com/DilsaraThiranjaya/Library-Management-Project-Service-Member.git
[submodule "Library-Management-Project-Service-File"]
	path = file-service
	url = https://github.com/DilsaraThiranjaya/Library-Management-Project-Service-File.git
